div
	h2 My Heroes
	ul.heroes
		li(*ngFor='#hero of heroes', (click)='onSelect(hero)')
			span.badge {{hero.id}}
			|  {{hero.name}}
	div(*ngIf='selectedHero')
		h2 {{selectedHero.name | uppercase}} is my hero
		button((click)='gotoDetail()') View Details


